/***** FONTS *****/
@font-face {
  font-family: nunito_sans_bold;
  src: url("./assets/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: nunito_sans_regular;
  src: url("./assets/fonts/Nunito-Regular.ttf");
}

body {
  font-family: nunito_sans_regular !important;
}
